/* .scholarship-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
  
  .scholarship-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    transition: transform 0.2s;
    width: 100%;
    max-width: 400px;
    margin: 10px;
    height: 400px; 
}

.scholarship-card:hover {
    transform: scale(1.05);
}

.scholarship-details {
    padding: 20px;
    height: 100%; 
    overflow-y: auto; 
}
  
  .scholarship-details h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}
  
  .scholarship-details p {
    font-size: 1rem;
    margin: 5px 0;
    color: #555;
  }
  
  @media (max-width: 600px) {
    .scholarship-card {
      width: 100%;
    }
  
    .scholarship-details h2 {
      font-size: 1.2rem;
    }
  
    .scholarship-details p {
      font-size: 0.9rem;
    }
  }
  
  .scholarship-image{
    width: 100%;
    height: 50%;
  } */

  .scholarship-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.scholarship-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
}

.scholarship-card:hover {
    transform: translateY(-5px);
}

.scholarship-details {
    padding: 20px;
}

.scholarship-details h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.scholarship-details p {
    font-size: 1rem;
    margin: 5px 0;
    color: #555;
}

.scholarship-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.loan-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #A67B5B;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.loan-button:hover {
    background-color: #A67B5B;
}

@media (max-width: 768px) {
    .scholarship-list {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .scholarship-image {
        height: 150px;
    }
}
